.container {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;

  h2 {
    color: #FFF;
    margin: 0 auto;
    text-align: center;
    font-size: 45px;
    margin-top: 60px;
  }

  .results {
    color: #FFF;
  }

  .jogar {
    width: 300px;
    height: 60px;
    color: #FFF;
    background: #000;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    font-size: 25px;
  }

  @media (min-width: 360px){
    h2 {
      font-size: 30px;
    }

    .results {
      font-size: 30px;
      margin: 15px;
    }
  }

  @media (min-width: 412px){
    h2 {
      margin-top: 150px;
      font-size: 30px;
    }

    .results {
      font-size: 30px;
      margin: 15px;
    }
  }

  @media (min-width: 480px){
    h2 {
      margin-top: 150px;
      font-size: 30px;
    }

    .results {
      font-size: 30px;
      margin: 15px;
    }
  }
}
